<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='Cursor.js') }}"></script>
    <!-- Link to external CSS stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='form.css') }}"
    />
    <!-- Set character encoding and viewport for responsive design -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title of the webpage -->
    <title>THANK YOU!</title>
  </head>

  <body>
    <div class="cursor-dot" data-cursor-dot></div>
    <div class="cursor-outline" data-cursor-outline></div>
    <section>
      <!-- Header section with logo -->
      <header>
        <h2>
          <!-- Link to homepage -->
          <a href="/" class="logo">
            <!-- Logo image -->
            <img
              src="https://upload.wikimedia.org/wikipedia/en/8/81/UofG_Coat_of_Arms.png"
              alt=""
            />
          </a>
        </h2>
      </header>
      <!-- Content section -->
      <div class="content">
        <section>
          <header>
            <!-- Thank you section -->
            <h2>THANK YOU!</h2>
    </section>
  </body>
</html>
